#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
  border: 10px #333 solid;
  margin-top: 50vh;
  transform: translateY(-240px);
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}

#party {
  background: url('https://media2.giphy.com/media/duta1FPnQ8jB65TWHy/source.gif');
  background-size: cover;
}